header, main, nav
{
  text-align: center; 
  
}
body 
{ 
  background-color : #403330 ;
  color: yellow; 
  justify-content:center;
  
}


footer
{
    text-align: center;
    color: white;
}
.pics
{
    display:flex; /*align pics on same row */
    justify-content:center;
    background-color: black; 
    color : green ;
}
.move
{
  text-align: center; 
  background-color: maroon; 
  color : white; 
  

  
}
.picsAlign
{
  text-align: center; 
}